{% extends 'base.html.twig' %}

{% block title %}TodoItem{% endblock %}

{% block body %}
    <h1>TodoItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todo_item.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ todo_item.author }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ todo_item.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ todo_item.description }}</td>
            </tr>
            <tr>
                <th>DateCreate</th>
                <td>{{ todo_item.dateCreate ? todo_item.dateCreate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsDone</th>
                <td>{{ todo_item.isDone ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('todo_item_index') }}">back to list</a>

    <a href="{{ path('todo_item_edit', {'id': todo_item.id}) }}">edit</a>

    {{ include('todo_item/_delete_form.html.twig') }}
{% endblock %}
